*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: rgb(4, 131, 186);
    color: white;
    padding: 20px 0;
}

#barra{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link a{
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

h2, h3{
    color: rgb(3, 91, 128);
    border-bottom: 2px solid rgb(3, 91, 128);
    padding: 20px 0;
}

/* Sobre */
.sobre{
    margin: 20px 0;
    display: grid;
    grid-template-columns: 40% 60%;
}

.sobre img{
    width: 100%;
    padding-right: 20px;
}

.sobre p{
    margin-top: 20px;
    text-align: justify;
}

/* produtos */

.Produtos img{
    margin-top: 30px;
    width: 100%;
}

.Produtos p{
    margin: 20px 0;
}

.Produtos button{
    background-color: rgb(3, 91, 128);
    color: white;
    border: none;
    padding: 10px 20px;
    width: 100%;
    cursor: pointer;
}

footer{
    margin-top: 70px;
    padding: 20px;
    background-color: rgb(3, 91, 128);
    color: white;
}

/* tela tablet */
@media screen  and (min-width: 641px) and (max-width: 1023px){
    .contander{
        width: 90%;
    }

    .sobre{
        margin-top: 2em;
        display: block;
    }
    
    .sobre img{
        width: 100%;
        padding-left: 0;
    }

    .Produtos{
        display: grid;
        grid-template-columns: repeat(2, 49%);
    }

    footer{
        margin-top: 12em;
    }
}

/* tela smartphone */
@media screen and (max-width: 640px) {
    .contander{
        width: 90%;
    }

    .link a{
        display: block;
    }

    .sobre{
        margin-top: 2em;
        display: block;
    }
    
    .sobre img{
        width: 100%;
        padding-right: 0;
    }

    .Produtos{
        display: grid;
        grid-template-columns: repeat(1, 100%);
        column-gap: none;
        row-gap: 1%;
    }

    footer{
        margin-top: 15em;
    }
}